<% layout("./layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 my-5">
            <h2 class="mb-2">SignUp</h2>
            <form  method="post" action="/notes/register" class="needs-validation" >
                
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" id="username"  class="form-control" required>

                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email"  class="form-control" required>

                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password"  class="form-control" required>
                    <div>
                    <button type="submit" class="btn btn-success mt-4">Login</button>
                </div>
            </div>
            </div>